<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Farms</title>
</head>

<body>
    <%=messages%>
    <h1>ALL FARMS</h1>
    <ul>
        <% for(let f of farm) { %>
        <li><a href="/farms/<%=f.id%>"><%= f.name %></a></li>
        <% }%>
    </ul>
    <a href="/farms/new">ADD FARM</a>
</body>

</html>